* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    text-decoration: none;
}

.screen {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 67px;
    margin-bottom: 117px;
}

.screen p {
    margin: 18.5px 0;
    font-size: 24px;
    line-height: 28px;
    color: #293845;
}

.movies {
    display: grid;
    grid-template-columns: 38.7vw 38.7vw;
    row-gap: 10px;
    column-gap: 8vw;
}

.movie {
    width: 38.7vw;
    height: 55.78vw;
    border-radius: 3px;
    box-shadow: 0px 2px 4px 2px #0000001A;
    padding: 8px;
}

.movie img {
    width: 100%;
    height: 100%;
}

.section {
    width: 100%;
    margin-bottom: 20px;
    padding: 0 25px;
}

.section p {
    font-size: 20px;
    line-height: 23px;
    color: #293845;
    margin-bottom: 20px;
}

.section .buttons {
    width: 100%;
    display: flex;
    flex-wrap: wrap;

}

.section .buttons .button {
    width: 82px;
    height: 43px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #E8833A;
    font-size: 18px;
    line-height: 21px;
    color: #FFFFFF;
    margin-right: 8px;
}

.seats {
    width: 100%;
    padding: 0 24px;
    display: grid;
    grid-template-columns: repeat(10, 26px);
    column-gap: 7px;
    row-gap: 18px;
}